**/obj/
**/bin/
www/src/assets/styles/output.css
.idea/
.vs/

CoinAPI.sln.DotSettings.user
CoinAPI/Folder.DotSettings.user
Folder.DotSettings.user
www/.run
CoinAPI/Properties/serviceDependencies.local.json.user
CoinAPI/ProviderApi.csproj.user

global.json

.env*
.flaskenv*
!.env.project
!.env.vault

www/src/assets/styles/output.css